.container {
    width: 100%!important;
}

#mega_menu.menu>li>ul.sub-menu {
    margin-top: 0px!important;
    box-shadow: unset!important;
    border: none!important;
    >li>a {
        padding: 10px 49px;
    }
}

#mega_menu.menu>li:hover>ul.sub-menu {
    margin-top: 0px!important;
}

#mega_menu>li>.menu-image>img {
    top: 9px!important;
    margin: 0!important;
}


/* FIX FORM SREARCH */

.flex-col.show-for-medium.flex-grow {
    width: 100%;
}

ul#mega_menu>li:hover>ul.sub-menu {
    display: none;
}